* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    /* color: white; */
}
html,
body {
    height: 100%;
    width: 100%;
}

.parent{
  /* min-height: 100vh;
  width: 100%; */
  background-color: #111;
  color: white;
  /* padding: 10px; */
  /* display: flex;
  gap: 15px;
  flex-wrap: wrap; */
}



